
:root {
    --ci-color-orange: #FFBB13;
    --ci-color-green: #98b54d;
    --ci-color-gray: #7C7C7C;
}

* {
    font-family: "Montserrat";
    color: var(--ci-color-gray);
    text-decoration: none !important;
}

body {
    background: #f1f1f1;
}

header {
    background: white;
}

.font-light {
    font-family: "Montserrat";
    font-weight: 300;
}

.home-action-buttons .card {
    box-shadow: 0 0 15px 1px #dedede;
    border: 0;
    border-radius: 20px;
}

.home-action-buttons a, .home-proximos-eventos .card, .calendario-anual-container .card {
    transition: .2s;
    transition-property: transform, border;
}

.home-proximos-eventos .card:hover, .calendario-anual-container .card:hover {
    transform: scale(1.04);
    border: 1px solid var(--ci-color-orange);
}

.home-action-buttons a:hover {
    transform: scale(1.1);
}

.home-proximos-eventos svg, .calendario-anual-container svg {
    fill: var(--ci-color-orange);
}

/* ----- footer ----- */
.footer-desenvolvido-por * {
    filter: brightness(0) invert(1);
    transition: .2s;
}

.footer-desenvolvido-por *:hover {
    filter: none;
}
.carousel-control-next{
    opacity: 1;
    filter: invert(1);
}
.carousel-control-prev{
    opacity: 1;
    filter: invert(1);
}
